body {
  font-family: Helvetica;
  background-color: whitesmoke;
}
html {
  
  background-size: 100% 100%;
  overflow: hidden; 
}
  
  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
  #LogoBoks {
    height: 300px;
    width: 450px;
    position: relative;
    top: -300px;
    left: 45px;
    z-index: -1;

  }

  #logo {
    height: 250px;
    width: 450px;
    position: absolute;
    top: -47px;
    left: -50px;
    display: inline-block;
    cursor: pointer;
  }

  #searchfield{
    height: 50px;
    width: 550px;
    background-color: whitesmoke;
    position: relative;
    padding:8px;
    top: -10px;
    left: 300px;
  }

#boks {
  height: 50px;
  width: 550px;
  /*background-color: rgb(150,150,150);*/
  position: absolute;
  text-align:  center;
  top: 40%;
  left: 33%;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

  

  /* SEARCH RESULT CONTAINER */
  #searchResultsContainer {
    height: 150px;
    width: 100%;
    background-color: white;
    position: relative;
    border: 1px solid #ddd;
    overflow: hidden;
  }

  #ImageContainer {
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
  }
  img {
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;

}
#textContainer {
  position: relative;
  left: 10%;
  overflow: hidden;
}
#antallInStock {
  position: relative;
  left: 80%;
  top: -80px;
  overflow: hidden;
}
