/*      THIS IS THE CSS STYLING CODE FOR THE PROJECT       */

/*      DECIDES STYLE OF THE BODY    */
body {

  font-family: Helvetica;
  background-color: whitesmoke;
}
html {

  background-size: 100% 100%;
  overflow-x: hidden;

}
/*      AN EARLIER VIDEO THAT IS NO LONGER IN user-select: */
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
/*      A DIV BOX THAT DECIDES THE SIZE OF THE LOGO AND ITS POSITION ON THE LANDING PAGE      */
  #LogoBoks {
    height: 300px;
    width: 450px;
    position: relative;
    top: -300px;
    left: 45px;
    z-index: -1;

  }
/*        A DIV BOX THAT DECIDES THE SIZE OF THE LOGO AND ITS POSITION ON THE RESULTS PAGE      */
  #logo {
    height: 250px;
    width: 450px;
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: -44px;
    left: -45px;
  }
  #regLogo {
    height: 250px;
    width: 450px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    left: 37%;
    
  }
/*        THE STYLING FOR THE SEARCHBAR       */
  #searchfield{
    height: 50px;
    width: 550px;
    background-color: whitesmoke;
    position: relative;
    padding:8px;
    top: -10px;
    left: 300px;
  }
/*        A DIV CLASS STYLING FOR THE SHOWALL BUTTON ON THE LANDING PAGE      */
  .showAll{
    display: inline-block;
    background-color: rgb(230,230,230);
    height: 40px;
    width: 150px;
    text-align: center;

    padding:0.2em 1.45em;
    margin:0.1em;
    border:0.15em solid rgb(220,220,220);
    box-sizing: border-box;
    font-family:'Segoe UI','Roboto',sans-serif;
    font-weight:400;
    font-size: 90%;
    color:#000000;
    position:relative;
    text-decoration: none;
    top: -300px;
    left: 130px;
    }
/*        WHEN YOU HOVER SHOWALL BUTTON       */
    a.showAll:hover {
      background-color: rgb(250,250,250);
    }
    /*      KNAPP TIL Å GÅ TIL OPPRETTE BRUKERSIDEN       */
    .oppretteBrukerKnapp {
    display: inline-block;
    background-color: rgb(230,230,230);
    height: 40px;
    width: 250px;
    text-align: center;
    padding:0.2em 1.45em;
    margin:0.1em;
    border:0.15em solid rgb(220,220,220);
    box-sizing: border-box;
    font-family:'Segoe UI','Roboto',sans-serif;
    font-weight:400;
    font-size: 90%;
    color:#000000;
    position:relative;
    text-decoration: none;
    top: -630px;
    left: 95%;
    }
/*        WHEN YOU HOVER SHOWALL BUTTON       */
    a.oppretteBrukerKnapp:hover {
      background-color: rgb(250,250,250);
    }
/*      A DIV ID THAT CONTAINS ALL OF THE ELEMENTS ON THE LANDING PAGE      */
#boks {
  height: 50px;
  width: 550px;
  /*background-color: rgb(150,150,150);*/
  position: absolute;
  text-align:  center;
  top: 40%;
  left: 33%;
}
/*      TEXT INPUT IN THE SEARCH CONTAINER FIELD      */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
      text-align: center;
}

  /* SEARCH RESULT CONTAINER */
  #searchResultsContainer {
    height: 150px;
    width: 100%;
    background-color: white;
    position: relative;
    border: 1px solid #ddd;

  }

/*      IMAGE CONTAINER FOR ALL IMAGES IN THE SEARCH RESULTS PAGE       */
  #ImageContainer {
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
  }
/*      GENERAL STYLING OF IMAGES       */
  img {
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;

}
/*      CONTAINER FOR TEXT TITTEL AND DESCRIPTION ON THE SEARCH RESULTS PAGE      */
#textContainer {
  position: relative;
  top: 20px;
  left: 10%;

}

#prisContainer{
  position: relative;
  left: 1300px;
  top: -80px;
}

#prisTekst{
  position: relative;
  left: 1300px;
  top: -150px;
}
/*      CONTAINER FOR POSITIONING WHERE INTEGER IN STOCK IS PLACED ON THE SEARCH RESULTS PAGE       */
#antallInStock {
  position: relative;
  left: 1000px;
  top: -50px;
}
/*      CONTAINER FOR BOOLEAN IF PRODUCT IS IN STOCK OR NOT     */
#iStock {
  position: relative;
  left: 1300px;
  top: -120px;
}
#tilgjengeligKnapp {
  height: 15px;
  width: 15px;
  background-color: green;
  position: relative;
  z-index: 10;
  top: 95px;
  left: 1105px;
}
#utilgjengeligKnapp {
  height: 15px;
  width: 15px;
  background-color: yellow;
  position: relative;
  top: 95px;
  left: 1105px;
  z-index: 10;
}

#regBox{
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
}

#regInputBox{
  width: 20%;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -50px;
}

input[type=submit]{
  display: inline-block;
  background-color: rgb(230,230,230);
  height: 40px;
  width: 150px;
  text-align: center;

  padding:0.2em 1.45em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border:0.15em solid rgb(220,220,220);
  box-sizing: border-box;
  font-family:'Segoe UI','Roboto',sans-serif;
  font-weight:400;
  font-size: 90%;
  color:#000000;
  position:relative;
  text-decoration: none;
}
